@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900 font-body antialiased;
}

main {
  @apply bg-white;
}

.reveal-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}
